[submodule "ExoPlayerDemo"]
	path = ExoPlayerDemo
	url = git@github.com:cybernhl/ExoPlayerDemo.git
[submodule "ExoPlayerSamle"]
	path = ExoPlayerSamle
	url = git@github.com:cybernhl/ExoPlayerSamle.git
[submodule "HlsPlayer"]
	path = HlsPlayer
	url = git@github.com:cybernhl/HlsPlayer.git
 
[submodule "google/ExoPlayer"]
	path = google/ExoPlayer
	url = git@github.com:cybernhl/ExoPlayer.git
